/*
Readarr

Readarr API docs

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package readarr

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CalendarFeedApiService CalendarFeedApi service
type CalendarFeedApiService service
type ApiGetCalendarReadarrIcsRequest struct {
	ctx context.Context
	ApiService *CalendarFeedApiService
	pastDays *int32
	futureDays *int32
	tagList *string
	unmonitored *bool
}

func (r ApiGetCalendarReadarrIcsRequest) PastDays(pastDays int32) ApiGetCalendarReadarrIcsRequest {
	r.pastDays = &pastDays
	return r
}

func (r ApiGetCalendarReadarrIcsRequest) FutureDays(futureDays int32) ApiGetCalendarReadarrIcsRequest {
	r.futureDays = &futureDays
	return r
}

func (r ApiGetCalendarReadarrIcsRequest) TagList(tagList string) ApiGetCalendarReadarrIcsRequest {
	r.tagList = &tagList
	return r
}

func (r ApiGetCalendarReadarrIcsRequest) Unmonitored(unmonitored bool) ApiGetCalendarReadarrIcsRequest {
	r.unmonitored = &unmonitored
	return r
}

func (r ApiGetCalendarReadarrIcsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetCalendarReadarrIcsExecute(r)
}

/*
GetCalendarReadarrIcs Method for GetCalendarReadarrIcs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCalendarReadarrIcsRequest
*/
func (a *CalendarFeedApiService) GetCalendarReadarrIcs(ctx context.Context) ApiGetCalendarReadarrIcsRequest {
	return ApiGetCalendarReadarrIcsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CalendarFeedApiService) GetCalendarReadarrIcsExecute(r ApiGetCalendarReadarrIcsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarFeedApiService.GetCalendarReadarrIcs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/calendar/readarr.ics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pastDays != nil {
		localVarQueryParams.Add("pastDays", parameterToString(*r.pastDays, ""))
	}
	if r.futureDays != nil {
		localVarQueryParams.Add("futureDays", parameterToString(*r.futureDays, ""))
	}
	if r.tagList != nil {
		localVarQueryParams.Add("tagList", parameterToString(*r.tagList, ""))
	}
	if r.unmonitored != nil {
		localVarQueryParams.Add("unmonitored", parameterToString(*r.unmonitored, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
