/*
Readarr

Readarr API docs

API version: v0.4.10.2734
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package readarr

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CalendarFeedAPIService CalendarFeedAPI service
type CalendarFeedAPIService service

type ApiGetFeedV1CalendarReadarrIcsRequest struct {
	ctx context.Context
	ApiService *CalendarFeedAPIService
	pastDays *int32
	futureDays *int32
	tagList *string
	unmonitored *bool
}

func (r ApiGetFeedV1CalendarReadarrIcsRequest) PastDays(pastDays int32) ApiGetFeedV1CalendarReadarrIcsRequest {
	r.pastDays = &pastDays
	return r
}

func (r ApiGetFeedV1CalendarReadarrIcsRequest) FutureDays(futureDays int32) ApiGetFeedV1CalendarReadarrIcsRequest {
	r.futureDays = &futureDays
	return r
}

func (r ApiGetFeedV1CalendarReadarrIcsRequest) TagList(tagList string) ApiGetFeedV1CalendarReadarrIcsRequest {
	r.tagList = &tagList
	return r
}

func (r ApiGetFeedV1CalendarReadarrIcsRequest) Unmonitored(unmonitored bool) ApiGetFeedV1CalendarReadarrIcsRequest {
	r.unmonitored = &unmonitored
	return r
}

func (r ApiGetFeedV1CalendarReadarrIcsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFeedV1CalendarReadarrIcsExecute(r)
}

/*
GetFeedV1CalendarReadarrIcs Method for GetFeedV1CalendarReadarrIcs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFeedV1CalendarReadarrIcsRequest
*/
func (a *CalendarFeedAPIService) GetFeedV1CalendarReadarrIcs(ctx context.Context) ApiGetFeedV1CalendarReadarrIcsRequest {
	return ApiGetFeedV1CalendarReadarrIcsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CalendarFeedAPIService) GetFeedV1CalendarReadarrIcsExecute(r ApiGetFeedV1CalendarReadarrIcsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarFeedAPIService.GetFeedV1CalendarReadarrIcs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed/v1/calendar/readarr.ics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pastDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pastDays", r.pastDays, "form", "")
	} else {
        var defaultValue int32 = 7
        parameterAddToHeaderOrQuery(localVarQueryParams, "pastDays", defaultValue, "form", "")
        r.pastDays = &defaultValue
	}
	if r.futureDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "futureDays", r.futureDays, "form", "")
	} else {
        var defaultValue int32 = 28
        parameterAddToHeaderOrQuery(localVarQueryParams, "futureDays", defaultValue, "form", "")
        r.futureDays = &defaultValue
	}
	if r.tagList != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagList", r.tagList, "form", "")
	} else {
        var defaultValue string = ""
        parameterAddToHeaderOrQuery(localVarQueryParams, "tagList", defaultValue, "form", "")
        r.tagList = &defaultValue
	}
	if r.unmonitored != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unmonitored", r.unmonitored, "form", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "unmonitored", defaultValue, "form", "")
        r.unmonitored = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
